In [22]:
import pandas as pd
import numpy as np

In [25]:
data.train=pd.read_csv("C:\\Users\\Vitya_\YandexDisk\ML coursera\RAN\week2_knn\perceptron-train.csv",header=None)
data.test=pd.read_csv("C:\\Users\\Vitya_\YandexDisk\ML coursera\RAN\week2_knn\perceptron-test.csv",header=None)
data.test.head()

   0         1            2
0  0  1.651437  1337.453826
1  1 -0.866495  1191.232457
2  0  0.789828  -475.647768
3  0  0.179549  1959.095353
4  1 -0.434351   568.504207

In [33]:
X_train=data.train.drop((0),axis=1)
X_test=data.test.drop((0),axis=1)
y_train=data.train[0]
y_test=pd.DataFrame(data.test[0])
y_test

     0
0    0
1    1
2    0
3    0
4    1
5    1
6    1
7    1
8   -0
9    1
10  -0
11   0
12   0
13   0
14   0
15   0
16   1
17   1
18   1
19   1
20   0
21   0
22   1
23   0
24   1
25  -0
26   1
27   1
28   0
29   0
..  ..
170  1
171  1
172  1
173  1
174 -1
175  1
176  1
177  0
178  0
179  0
180 -0
181  0
182  1
183  1
184  0
185  0
186  1
187  0
188  1
189  0
190  0
191  0
192  1
193 -1
194  1
195  0
196  1
197  1
198  0
199  1

[200 rows x 1 columns]

In [46]:
from sklearn.linear_model import Perceptron
perc = Perceptron(random_state=241)
perc.fit(X_train, y_train)
y_hat = perc.predict(X_test)
score=perc.score(X_test,y_test)

In [ ]:
# DF.at[df['Sex']=='female','Sex']=0
# DF.at[df['Sex']=='male','Sex']=1
# DF.head()

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [47]:
perc.fit(X_train_scaled,y_train)
score1=perc.score(X_test_scaled,y_test)
score1-score

0.56500000000000006